<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqvip.innocence.project.mapper.ArmNetdiskMapper">

    <select id="getPageList" parameterType="com.cqvip.innocence.project.model.entity.ArmNetdisk"
            resultType="com.cqvip.innocence.project.model.entity.ArmNetdisk">
        SELECT
            AN.ID id,
            AN.TITLE title,
            AN.DISK_TYPE diskType,
            AN.REQUIRE_SCORE requireScore,
            AN.DOWN down,
            AN.CONTENT content,
            AN.SHARE_ARTICLE_STATUS shareArticleStatus,
            AUI.READER_NAME creatUserName,
            ANC.TITLE className
        FROM ARMYINFANTRY.ARM_NETDISK AS AN
        JOIN ARMYINFANTRY.ARM_NETDISK_CLASS AS ANC ON AN.CLASS_ID = ANC.ID
        JOIN ARMYINFANTRY.ARM_USER_INFO AS AUI ON AN.CREAT_USER_ID = AUI.ID
        <where>
            AN.DELETED = 0 AND AUI.DELETED = 0
            <if test="disk.title != null and disk.title != ''">
                AND AN.TITLE LIKE CONCAT('%',#{disk.title,jdbcType=VARCHAR},'%')
            </if>
            <if test="disk.creatUserName != null and disk.creatUserName != ''">
                AND AUI.READER_NAME LIKE CONCAT('%',#{disk.creatUserName,jdbcType=VARCHAR},'%')
            </if>
            <if test="disk.diskType!=null">
                AND AN.DISK_TYPE = #{disk.diskType}
            </if>
        </where>
        ORDER BY AN.MODIFY_TIME DESC
    </select>
</mapper>
