<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqvip.innocence.project.mapper.ArmRoleMapper">

    <select id="getRolesByAdmin" parameterType="com.cqvip.innocence.project.model.entity.ArmAdminUser" resultType="com.cqvip.innocence.project.model.entity.ArmRole">
        SELECT RO.ID,RO.NAME,RO.DESCRIPTION
            FROM ARMYINFANTRY.ARM_ROLE RO
            LEFT JOIN ARMYINFANTRY.ARM_ADMIN_USER_ROLE AR ON RO.ID=AR.ROLE_ID
            LEFT JOIN ARMYINFANTRY.ARM_ADMIN_USER AU ON AR.ADMIN_USER_ID = AU.ID
            WHERE AU.ID = #{id,jdbcType=BIGINT} AND RO.DELETED = 0
    </select>

    <select id="getRoles" resultType="com.cqvip.innocence.project.model.entity.ArmRole">
        select r.*,t.resourceIds as resourceStr from ARMYINFANTRY.ARM_ROLE r
        left join (select role_id,LISTAGG(RESOURCE_ID , ',') WITHIN GROUP (order by role_id) as resourceIds from ARMYINFANTRY.ARM_ROLE_RESOURCE group by role_id)
        t on t.ROLE_ID = r.ID
        <where>
            <if test="name != null and name !='' ">
                r.NAME = #{name}
            </if>
            AND DELETED = 0
        </where>
        LIMIT ((#{page.current}-1)*#{page.size}),#{page.size}
    </select>

</mapper>
